.pokemons-container {
  padding: 1rem 3rem;
  display: flex;
  flex-direction: column;
}

.pokemons-container_pokecards {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.pokemons-container_buttons {
  display: flex;
  justify-content: center;
}

.pokemons-container_button {
  padding: 1rem;
  width: 120px;
  margin: 0 1rem;
  color: var(--color-blue);
  background-color: var(--color-yellow);
  border: var(--box-border);
  cursor: pointer;
  transition: 0.5s;
  font-weight: bold;
}

#previous-btn {
  border-radius: 40px 10px 10px 40px;
}

#next-btn {
  border-radius: 10px 40px 40px 10px;
}

.pokemons-container_button:hover {
  color: var(--color-yellow);
  background-color: var(--color-blue);
}

.pokemons-container_button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

@media only screen and (max-width: 505px) {
  .pokemons-container_pokecards {
    justify-content: center;
  }
}
