@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-transform: uppercase;
  font-family: "Russo One", sans-serif;
  letter-spacing: 1.2px;
}

:root {
  --color-blue: blue;
  --color-yellow: yellow;
  --box-border: 5px solid var(--color-yellow);
}

body {
  background-image: url("/public/assets/background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: var(--color-blue);
}

::-webkit-scrollbar-thumb {
  background: var(--color-yellow);
}

.normal {
  background-image: url("/public/assets/backgrounds/normal.svg");
}

.fairy,
.unknown {
  background-color: pink;
}

.water {
  background-image: url("/public/assets/backgrounds/water.svg");
  color: white;
}

.fire {
  background-image: url("/public/assets/backgrounds/fire.svg");
}

.electric {
  background-color: yellow;
}

.shadow,
.dark {
  background-color: black;
  color: white;
}

.ghost,
.rock,
.steel {
  background-color: gray;
}

.poison,
.psychic {
  background-image: url("/public/assets/backgrounds/poison.svg");
  color: white;
}

.grass {
  background-image: url("/public/assets/backgrounds/grass.svg");
}

.bug {
  background-image: url("/public/assets/backgrounds/bug.svg");
}

.dragon,
.fighting,
.ground {
  background-color: brown;
}

.flying,
.ice {
  background-color: aqua;
}
